<div class="card shadow mb-4">
  <div class="card-header py-3 ">
    <h1 class="m-0 font-weight-bold text-primary">Empleado <small>Edición</small></h1>
  </div>
  <%= render 'form', employee: @employee, method: :put, path: employee_path %>
</div>