<div class="card shadow mb-4">
  <div class="card-header py-3 ">
    <h1 class="m-0 font-weight-bold text-primary">Categoría de muestra <small>Nuevo</small></h1>
  </div>
  <%= render 'form', sample_category: @sample_category, method: :post, path: sample_categories_path %>
</div>