<div class="card shadow mb-4">
  <div class="card-header py-3 ">
    <h1 class="m-0 font-weight-bold text-primary">Método de ensayo <small>Edición</small></h1>
  </div>
  <%= render 'form', sample_method: @sample_method, method: :put, path: sample_method_path %>
</div>