<div class="card shadow mb-4">
  <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
    <h1 class="m-0 font-weight-bold text-primary">Métodos de ensayo</h1>
    <div>
      <%= link_to 'Nuevo Método', new_sample_method_path, class: "btn btn-primary right" %>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <%= render 'sample_methods_table', sample_methods: @sample_methods %>
    </div>
  </div>
</div>